@use '~/styles/_variables.scss' as variables;

.table {
  width: 100%;
  margin: 0px;
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 15px;
  border-spacing: 0;
  width: 100%;
  border-collapse: separate;

  thead tr td {
    padding: 15px;
    background-color: var(--gray-500);
    font-weight: 600;
  }

  // tbody tr {
  //   :nth-child(even) {background: #CCC}
  //   // :nth-child(2) {background: #FFF}
  // }

  tbody tr td {
    font-size: 16px;
    padding: 15px;
    background-color: var(--white-color);
    text-align: left;
  }
}
