@use '~/styles/_variables.scss' as variables;

.credentials {
  &_wrapper {
    display: flex;
    flex-direction: column;
    padding: 36px 0;
    gap: 8px;
  }

  &_title {
    text-align: center;
    font-weight: 700;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px;
  }

  &_item {
    padding: 16px;
    background-color: variables.$primary-white-color;
    box-shadow: 0px 2px 16px rgb(34 22 22 / 8%);
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 2px 16px rgb(34 22 22 / 16%);
      background-color: variables.$primary-orange-color;
      color: variables.$primary-white-color;
    }
  }
}
