@use '~/styles/_variables.scss' as variables;

.pos__drawer_amount {
  margin: 20px 0px;
  width: 70%;
  min-width: 500px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 160px);
  padding-right: 10px;

  h3 {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  ul {
    background-color: var(--white-color);
    margin: 10px 0px;
    border-radius: 8px;
    padding: 15px;
    margin-left: 10px;
    list-style: none;
  }

  li:nth-child(2n + 1) {
    background-color: var(--secondary-color);
  }

  li {
    @include variables.gridBoxColumn(2fr 2fr);
    list-style: none;
    padding: 15px;
    margin: 0px;
    border-radius: 6px;

    label {
      display: block;
      font-size: 14px;
      color: var(--text-dark-color);
      font-weight: 400;
      margin: 0px;
    }

    h3 {
      font-size: 14px;
      color: var(--text-dark-color);
      text-align: right;
      margin: 0px;
      font-weight: 400;
    }
  }

  h6 {
    font-size: 16px;
    color: var(--text-dark-color);
    text-align: left;
    margin: 30px 2px 0px 20px;
    font-weight: 500;
  }

  textarea {
    margin-left: 12px;
    width: 98.2%;
    margin-top: 10px;
    border-radius: 6px;
  }

  button {
    margin: 10px;
    padding: 10px 40px;
    border-radius: 6px;
    font-weight: 560;
    margin-left: 12px;
    margin-top: 20px;
  }
}

@include variables.tablet {
  .pos__drawer_amount {
    width: 100%;
  }
}
